@import "tailwindcss";

@import "tailwindcss/preflight"
@tailwind utilities;

@theme {

  --color-primary: #101211;
  --color-secondary: #ffc44d;
  --color-otherBlack: rgba(255,255,255,0.08);

  --color-primaryText: #dbdbdb;

}

body{
  background-color: #101211;
}
/* '@tailwind base' is no longer available in v4. Use '' instead. */